* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  font-family: "Nunito", sans-serif;
  font-size: 62.5%;
}

header {
  font-weight: 600;
  font-size: 1.8rem;
  background-color: #F15156;
}
header li {
  list-style: none;
}
header li a {
  color: hsla(0, 0%, 100%, 0.5);
  text-decoration: none;
  transition: 300ms ease-in;
}
header li a:hover {
  font-weight: 700;
  color: #ffffff;
}

.navbar {
  height: 8rem;
  background: #E44449;
  padding: 2.4rem 2rem;
}

.navLogo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.3rem;
}

.navMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 1.2rem;
  padding: 2.8rem 2rem;
  border-top: 1px solid hsla(0, 0%, 100%, 0.2);
  background: #E44449;
  border-radius: 0px 0px 20px 20px;
  left: -100%;
  top: 7rem;
  width: 100%;
  transition: 0.3s;
}
.navMenu.active {
  left: 0;
}

.bar {
  display: block;
  width: 16px;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
  border-radius: 1.3px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
  background-color: #E44449;
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #E44449;
}

.top {
  padding: 5rem 2rem;
  color: #FFFFFF;
  background-color: #F15156;
}
.top .title {
  font-size: clamp(4rem, 5vw, 7rem);
  max-width: 25rem;
  margin: 3rem 0;
}
.top h2 {
  visibility: hidden;
}
.top .amigosProximos {
  font-size: 1.4rem;
}
.top .amigosProximos div {
  display: flex;
  align-items: center;
}
.top .amigosProximos span {
  font-weight: 800;
}
.top .amigosProximos img + img {
  margin-left: -0.875rem;
}

.dog {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(153.09deg, #F36A6F 17.23%, #E44449 73.77%);
  border-radius: 2rem;
  position: relative;
  width: clamp(27rem, 40vw, 50rem);
  height: clamp(27rem, 40vw, 50rem);
  margin: 0 auto;
}
.dog svg {
  width: clamp(25rem, 40vw, 40rem);
  height: auto;
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.acesso {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 800;
  border: none;
  border-radius: 0.5rem;
  background: #FFFFFF;
  color: #0D3B66;
  padding: 1.8rem 5rem;
  z-index: 2;
  margin-top: 15rem;
  transition: 300ms ease;
}
.acesso:hover {
  background: #C7ACA1;
  color: #FFFFFF;
}

.acesso2 {
  visibility: hidden;
}

@media (min-width: 880px) {
  .navbar {
    background: #F15156;
    padding: 2.4rem 41rem 0 11rem;
  }
  .navMenu {
    left: 100%;
    top: 7rem;
    z-index: 3;
    border-radius: 2rem 2rem 2rem 2rem;
  }
  .navMenu.active {
    left: 70%;
    width: 30%;
    padding: 5rem 5rem;
  }
  .top {
    display: grid;
    padding: 6rem 0 6rem 11rem;
    grid-template-columns: 1fr 1fr;
  }
  .top .amigosProximos {
    grid-column: 1;
  }
  .top .amigosProximos .title {
    max-width: 50rem;
    margin: 5rem 0;
  }
  .top .amigosProximos h2 {
    visibility: visible;
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 8rem;
    width: 41rem;
  }
  .top .dog {
    grid-column: 2;
    top: -5rem;
  }
  .top .dog .acesso {
    visibility: hidden;
  }
  .top .btn {
    grid-column: 2;
    display: grid;
    justify-content: center;
    align-content: center;
    background: #E44449;
    border-radius: 2rem;
    width: clamp(27rem, 40vw, 50rem);
    height: 15rem;
    margin: -5rem auto;
  }
  .top .btn .acesso2 {
    visibility: visible;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 800;
    border: none;
    border-radius: 0.5rem;
    background: #FFFFFF;
    color: #0D3B66;
    padding: 1.8rem 5rem;
    z-index: 2;
    transition: 300ms ease;
    width: clamp(27rem, 30vw, 40rem);
    height: 7rem;
  }
  .top .btn .acesso2:hover {
    background: #C7ACA1;
    color: #FFFFFF;
  }
}

/*# sourceMappingURL=style.css.map */
