*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root{
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
}

header{
  font-weight: 600;
  font-size: 1.8rem;
  background-color: #F15156;
}

li{
  list-style: none;
}

a{
  color: hsla(0, 0%, 100%, 0.5);
  text-decoration: none;
  transition: 300ms ease-in;
}

a:hover{
  font-weight: 700;
  color: #ffffff;

}

.navbar{
  height: 8rem;
  background: #E44449;
  padding: 2.4rem 2rem;
}

.navLogo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.3rem;
}

.navMenu{
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 1.2rem;
  padding: 2.8rem 2rem;
  border-top: 1px solid hsla(0, 0%, 100%, 0.2);
  background: #E44449;
  border-radius: 0px 0px 20px 20px;

  left: -100%;
  top: 7rem;
  width: 100%;

  transition: 0.3s;
}

.navMenu.active{
  left: 0;
}

.bar{
  display: block;
  width: 16px;
  height: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
  border-radius: 1.3px;
}

.hamburger{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 4rem;
  height: 4rem;
  border-radius: .8rem;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.hamburger:hover{
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2){
  opacity: 0;
}

.hamburger.active .bar:nth-child(1){
  transform: translateY(6px) rotate(45deg);
  background-color: #E44449;
}

.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
  background-color: #E44449;

}

.top{
  background-color: #F15156;
}